.navbarHeight {
    height: 100vh;
    max-height: 100vh;
    border-radius: 15px 0px 0px 15px;
    border-right: 2px solid #343166;
}

.logoSetting {
    margin-bottom: 10vh;
    justify-content: center;
    display: flex;
    margin-right: 50px;
}

.listAlignment{
    justify-content: left;
    display: flex;
    padding-left: 40px;
}

.navbarColor{
    background: linear-gradient(0deg, #002E4F, #002E4F);
}

.sidenav{
    left: 0;
    flex-basis: 100%;
}

.budgetQuest {
    color: white;
    font-family: 'VT323', monospace;
    margin-left:10px;
    word-spacing:10px;
    padding: 10px 0;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start
}

.userProfile {
    display: flex;
    justify-content: center;
    color: white;
}


.iconlist{
    display: inherit;
}

.lineSeparator {
    width: 90%;
    margin: auto;
}